body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(226, 240, 254) 0%,
    rgb(255, 247, 228) 90%
  );
  background-repeat: no-repeat;
}
h1 {
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #676767;
}
a {
  text-decoration: none;
}
ul.climate-info {
  padding: 15px;
  list-style: none;
  font-size: 15px;
}
footer {
  font-size: 12px;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  border: 1px solid rgb(166, 166, 166);
  border-radius: 10px;
  margin: 35px;
  padding: 25px;
  margin-bottom: 0;
}
.displayedTemp {
  font-size: 50px;
  font-weight: 600;
}
.search-engine {
  padding: 5px;
}
.search-button {
  padding: 5px;
}
.temperature-scales {
  font-size: 15px;
  position: relative;
  top: -30px;
  font-weight: 500;
}
.gitHubLink {
  text-decoration: none;
  padding-left: 35px;
}
